# Variáveis para o Banco de Dados (Neon)
DATABASE_URL=
PGHOST=
PGDATABASE=
PGUSER=
PGPASSWORD=

# Variáveis para o Frontend (Firebase)
# IMPORTANTE: No painel da Hostinger, adicione estas variáveis exatamente com estes nomes
VITE    _FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=(default)
